// width
@mixin r($width) {
  @media only screen and (max-width: $width+ "px") {
    @content; 
  }
}


@mixin r($width) {
  @media only screen and (min-width: $width+ "px") {
    @content; 
  }
}

// height
@mixin rh($height) {
  @media only screen and (max-height: $height + "px") {
    @content;
  }
}

@mixin rh($height) {
  @media only screen and (min-height: $height + "px") {
    @content;
  }
}

//simple gradient
@mixin g($color1, $color2) {
  background-image: linear-gradient($color1, $color2);
}

@mixin gh($color1, $color2) {
  background-image: linear-gradient(left, $color1, $color2);
}


// font-family 
@mixin font($alias, $name) {
  @font-face {
    font-family: $alias;
    src: url("../fonts/" + $name + ".woff2") format("woff2"), url("../fonts/" + $name + ".woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
}

// filter
@mixin blur($var) {
  filter: blur($var);
}